# Next.js
.next/
**/frontend/.next/
out/
build/
dist/
**/dist/

# Dependencies
node_modules/
**/node_modules/
/.pnp
.pnp.js

# Testing
coverage/

# Misc
.DS_Store
*.pem

# Local env files
.env*.local
.env
**/.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs
logs/
**/logs/
*.log

